<h1> Huddle Up</h1>

<h2>Team Task Manager</h2>

<img src="https://thumbs.dreamstime.com/b/top-view-south-african-business-team-hands-stacked-together-unity-trust-top-view-black-african-business-team-185527831.jpg">