<h1> Edit Your Task</h1>

<%= render 'form' %>
<br>
<%= button_to 'Delete', @task, method: :delete, class:"btn btn-primary" %>
<br>
<%= link_to 'Go Back', user_tasks_path(:user_id), class:"btn btn-primary" %>

<img src="https://maxcdn.icons8.com/app/uploads/2016/10/edit2.png" class="position-absolute top-50 start-50 translate-middle">