<h1> Add a New Task</h1>

<%= render 'form' %>

<br>
<%= link_to 'Go Back', user_tasks_path(:user_id), class:"btn btn-primary" %>

<img src="https://www.computerhope.com/jargon/t/task.jpg" class="position-absolute top-50 start-50 translate-middle">