<h1> Add a New Project</h1>

<%= render 'form' %>
<br>
<%= link_to 'Go Back', projects_path, class:"btn btn-primary" %>

<img src="https://www.orangescrum.com/blog/wp-content/uploads/2019/09/Project-Management-Tips-on-How-to-Motivate-Your-Remote-Team-1-1.png" class="position-absolute top-50 start-50 translate-middle">